/* Télécharger  les polices pour le corps de texte */

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertine_Re-4.1_.8_.woff') format('woff');
}
@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertine_It-4.0_.3_.woff') format('woff');
}
@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertine_Bd-4.0_.2_.woff') format('woff');
}
@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertine_BI-4.0_.3_.woff') format('woff');
}
@font-face {
    font-family: 'Linux Libertine C';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertineC_Re-4.0_.1_.woff') format('woff');
}@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
/* Télécharger  les polices pour le code */
@import 'https://fonts.googleapis.com/css?family=Courier+Prime';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

/* Définir les polices */
body {
  font-family: "Linux Libertine O", "EB Garamond", Palatino, serif;
}
blockquote {
  font-family: "Linux Libertine O", "EB Garamond", Palatino, serif;
}
code {
  font-family: "Courier Prime", Inconsolata, "Source Code Pro", monospace;
}
pre, code {
  font-size: .95em;
}
