/*
@import 'https://fonts.googleapis.com/css?family=Old+Standard+TT';
*/

body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
blockquote {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
code {
  font-family: "Lucida Console", Consolas, Courier, "Courier New", monospace;
}
pre, code {
  font-size: .95em;
}
