/* Télécharger  les polices pour le corps de texte */

@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
/* Télécharger  les polices pour le code */
@import 'https://fonts.googleapis.com/css?family=Courier+Prime';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

/* Définir les polices */
body {
  font-family: "EB Garamond", Palatino, serif;
}
blockquote {
  font-family: "EB Garamond", Palatino, serif;
}
code {
  font-family: "Courier Prime", Inconsolata, "Source Code Pro", monospace;
}
pre, code {
  font-size: .95em;
}
