/* Define the logo path for the */
:root {
  --logo-path: url(https://www.utilitr.org/images/logo-utilitr.png);
}

h1:before {
  visibility: visible !important;
  background-image: var(--logo-path);
  background-size: 2.5cm;
  background-position: 0cm 1cm;
  background-repeat: no-repeat;
}
