/*-- scss:defaults --*/

$utilitr-color: #93bcbc;

/*-- scss:rules --*/


#title-block-header {
    display: none ;
}
  
  
#hero-banner {
    padding-top: 35px;
    /*background-color: $utilitr-color;
    color: white;*/
}

#hero-banner code {
   color:#e83e8c;
   background-color: transparent !important;
}


.grid-item-link {
    color: inherit;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}
  
.grid-item-link:hover {
    transform: scale(1.05); /* Increase the scale for a zoom effect */
}

.no-anchor.card-title.listing-title {
    font-weight: bolder !important;
    color: $utilitr-color !important;
    }

.teaser-link {
  text-decoration: none;
  transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}

.card-text {
  color: rgb(89, 89, 89) ;
}
