/*-- scss:defaults --*/

$utilitr-color: #93bcbc;

/*-- scss:rules --*/


#title-block-header {
    display: none ;
}
  
  
#hero-banner {
    padding-top: 35px;
    /*background-color: $utilitr-color;
    color: white;*/
}

#hero-banner code {
   color:#e83e8c;
   background-color: transparent !important;
}