p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
/*
.rmdcaution {
  background-image: url("pics/images/caution.png");
}
.rmdimportant {
  background-image: url("pics/images/important.png");
}
.rmdnote {
  background-image: url("pics/images/note.png");
}
.rmdtip {
  background-image: url("pics/images/tip.png");
}
.rmdwarning {
  background-image: url("pics/images/warning.png");
}
*/

.auteurs {
  border-left:.5rem solid #006600;
  background: #f1ffdc;
  background-color: #f1ffdc;
  margin-top:50px;
  margin-bottom:50px;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  border-radius:.1rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,border-color .25s
}

.auteurs::before {
  position: relative;
  display: inline-block;
  margin:0 -.6rem!important;
  padding:0 .6rem .8rem!important;overflow:hidden;
  width: 100%;
  font-weight:700;
  /*font-size: large;
  font-family: sans-serif;
  font-weight: bold;*/
  content: "Rédacteurs: ";
  background-color:#f1ffdc
}



.recommandation,
.conseil,
.remarque {
  margin:30px 0 30px 0px ;
  padding: 0 10px 0 10px;
  position: relative;
  page-break-inside:avoid;
  box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.25);
}


.recommandation {
  border-left:.2rem solid rgba(220, 53, 69, 1);
}
.conseil {
  border-left:.2rem solid rgba(255, 193, 7, 1);
}
.remarque {
  border-left:.2rem solid rgba(0, 123, 255, 1);
}

.recommandation:before {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color:  rgba(220, 53, 69, 0.2);
  border-left:30px   rgba(220, 53, 69, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
/*font-size: large;
  font-family: sans-serif;
  font-weight: bold;*/
  font-family: sans-serif;
  font-weight: 900;
  font-size: 100%;
  content: "Recommandation";
}

.recommandation:after {
  display: flex;
  position: absolute;
  content: "\f0a4";
  justify-content: center;
  font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 200%;  
  color: rgba(220, 53, 69, 1);
  align-items: center;
  left: -50px;
  height: 40px;
  width: 40px;
  top: 0;
}

.conseil:before {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color:  rgba(255, 193, 7, 0.2);
  border-left:30px   rgba(255, 193, 7, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
/*font-size: large;
  font-family: sans-serif;
  font-weight: bold;*/
  font-family: sans-serif;
  font-weight: 900;
  font-size: 100%;
  content: "Conseil";
}

.conseil:after {
  display: flex;
  position: absolute;
  content: "\f0eb";
  justify-content: center;
  font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 200%;  
  color: rgba(255, 193, 7, 1);
  align-items: center;
  left: -50px;
  height: 40px;
  width: 40px;
  top: 0;
}

.remarque:before {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color:  rgba(0, 123, 255, 0.2);
  border-left:30px   rgba(0, 123, 255, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
/*font-size: large;
  font-family: sans-serif;
  font-weight: bold;*/
  font-family: sans-serif;
  font-weight: 900;
  font-size: 100%;
  content: "Remarque";
}

.remarque:after {
  display: flex;
  position: absolute;
  content: "\f05a";
  justify-content: center;
  font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 200%;
  color: rgba(0, 123, 255, 1);
  align-items: center;
  left: -50px;
  height: 40px;
  width: 40px;
  top: 0;
}





/* .auteurs::after {
 content: url(var(--giturl));
}
 */

/*.conseil {
  background: #a3dfff;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #00a6ff;
}
.conseil::before {
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
  content: "Conseil";
}

.remarque {
  background: #fffcad;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #ffe136;
}
*/


.exercice {
  padding: 1em;
  background: #e6f0ff;
  border: 2px solid #4169e1;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
}

.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}