.Rhistory
.RData
.Rproj.user
.bash_history

_book

_book/*.html
_book/*.pdf
_book/*.log
*.html
*.pdf
*.log

*.out
*.aux
*.synctex

DocumentationR.Rmd
DocumentationR.tex
DocumentationR_files/*

_public/*

_bookdown_files/*
packages.bib
libs/*
rapport étonnement CT.rtf

pics_resized/*
_pagedown_output/*