.Rhistory
.RData
.Rproj.user
.bash_history

_book
old

_book/*.html
_book/*.pdf
_book/*.log
*.html
*.pdf
*.log
*.DS_Store

*.out
*.aux
*.synctex

DocumentationR.Rmd
DocumentationR.tex
DocumentationR_files/*

_public/*

_bookdown_files/*
packages.bib
libs/*
rapport étonnement CT.rtf

pics_resized/*
_pagedown_output/*

# chapitre targets
_targets.R
_targets/*
mesfonctions_*.R
resources/targets/_targets/*
data/donnes_entrees.csv
/.quarto/
_targets/
/resources/rmarkdown/chunk*