ae
amsfonts
amsmath
atbegshi
atveryend
auxhook
babel
babel-french
bibtex
bibtex.x86_64-linux
bigintcalc
bitset
booktabs
carlisle
catoptions
cm
dehyph
dvipdfmx
dvipdfmx.x86_64-linux
eso-pic
etex
etexcmds
etoolbox
euenc
fancyhdr
fancyvrb
fontawesome5
fontspec
framed
geometry
gettitlestring
glyphlist
graphics
graphics-cfg
graphics-def
grffile
hycolor
hyperref
hyph-utf8
hyphen-base
hyphen-french
iftex
inconsolata
infwarerr
intcalc
knuth-lib
kpathsea
kpathsea.x86_64-linux
kvdefinekeys
kvoptions
kvsetkeys
l3backend
l3kernel
l3packages
latex
latex-amsmath-dev
latex-bin
latex-bin.x86_64-linux
latex-fonts
latex-tools-dev
latexconfig
letltxmacro
listings
lm
lm-math
ltxcmds
ltxkeys
luahbtex
luahbtex.x86_64-linux
lualibs
luaotfload
luaotfload.x86_64-linux
luatex
luatex.x86_64-linux
mdframed
mdwtools
metafont
metafont.x86_64-linux
mfware
mfware.x86_64-linux
microtype
modes
natbib
needspace
parskip
pdfcrop
pdfcrop.x86_64-linux
pdfescape
pdftex
pdftex.x86_64-linux
pdftexcmds
picture
plain
refcount
rerunfilecheck
scheme-infraonly
stringenc
tex
tex-ini-files
tex.x86_64-linux
texlive-scripts
texlive-scripts.x86_64-linux
texlive.infra
texlive.infra.x86_64-linux
tipa
titlesec
tools
unicode-data
unicode-math
uniquecounter
url
xcolor
xetex
xetex.x86_64-linux
xetexconfig
xunicode
xwatermark
zapfding
zref
