p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.copsom {
  background: #ee98fb;
  padding: 12pt;
  border-radius: 15px;
  border: 5px solid #883997;
}