on:
  push:
    branches-ignore:
      - master
      - main
  pull_request:
    branches:
      - main
      - master 

name: preview bookdown

jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    container: inseefrlab/utilitr:latest
    steps:
      - name: Checkout Repository
        if: ${{ github.repository == 'inseefrlab/utilitr' }}
        env:
          GITHUB_PAT: ${{ secrets.PAT }}
        uses: actions/checkout@master
      - name: Checkout Repository
        if: ${{ github.repository != 'inseefrlab/utilitr' }}
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/checkout@master
      - name: Install Dependencies
        if: ${{ github.repository == 'inseefrlab/utilitr' }}
        run: |
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_github('rstudio/htmltools')"
          Rscript -e "remotes::install_github('r-spatial/sf', dependencies = TRUE)"
        env:
          GITHUB_PAT: ${{ secrets.PAT }}
      - name: Install Dependencies
        if: ${{ github.repository != 'inseefrlab/utilitr' }}
        run: |
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_github('rstudio/htmltools')"
          Rscript -e "remotes::install_github('r-spatial/sf', dependencies = TRUE)"
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd", output_format = "utilitr::bs4_utilitr", output_dir = "_public")'
      - uses: actions/upload-artifact@v2
        with:
          name: _public
          path: _public/
          retention-days: 5
      - name: Install npm
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: actions/setup-node@v2          
        with:
          node-version: '12'        
      - name: Deploy to Netlify
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          npm init -y
          npm install --unsafe-perm=true netlify-cli -g
          netlify init
          netlify deploy --alias=${BRANCHE_REF} --dir="_public" --message "Preview deploy from ${BRANCHE_REF}"

#--site="$NETLIFY_SITE_ID" --auth="$NETLIFY_AUTH_TOKEN"
