on:
  push:
    branches-ignore:
      - master
      - main

name: preview bookdown

jobs:
  build:
    runs-on: ubuntu-latest
    container: inseefrlab/utilitr:latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Install Dependencies
        run: |
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_deps(dependencies = TRUE)"
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd", output_dir = "_public")'
      - uses: actions/upload-artifact@v1
        with:
          name: _public
          path: _public/
      - name: Install npm
        uses: actions/setup-node@v1          
      - name: Deploy to Netlify
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          npm install netlify-cli -g
          netlify init
          netlify deploy --alias=${CI_COMMIT_REF_NAME} --dir="_public"

#--site="$NETLIFY_SITE_ID" --auth="$NETLIFY_AUTH_TOKEN"